 .btn {
    background-color: rgb(56, 7, 7);
    width: 15em;
    padding: 1.5em;
    border-radius: 15px;
    border: none;
    color: white;
    margin: 3em;
    
}
.btn:hover {
    transform: scale(1.25);
    transition:ease-in-out, 0.5s;
    background-color: rgb(229, 226, 226);
    color: rgb(56, 7, 7);
    border: 1px solid rgb(56, 7, 7);
}
.rolldice {
    display: inline;
    justify-content: center;
}